/* Padrão */
:root {
    --primary: #00D47D;
    --secondary: #0ECE6B;
    --tertiary: #00856F;
    --quaternary: #8FAFA7;
}

/* Sempre que possível, utilizar o formato woff2 e woff para fontes */
@font-face {
    font-family: "Oranienbaum", serif;
    src: url(../fonts/Oranienbaum-Regular.ttf) format('ttf');
}

@font-face {
    font-family: "Montserrat", serif;
    src: url(../fonts/Montserrat-Medium.ttf) format('ttf');
}

/* Global */
* {
    font-family: "Montserrat", medium;
    font-weight: 400;
    font-style: normal;
    background-color: #F0F0F0;
}

a {
    text-decoration: none;
}

/* Formulário de cadastro */
form, form.atualizacao-dados {
    text-align: center;
    display: block;
}

/* Campos do formulário */
input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 5px 0;
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
}

/* Botão dos formulários */
button.botao {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    display: block;
}

/* Links do cadastro e login em suas respectivas páginas */
a.link-login, a.link-cadastro {
    text-decoration: none;
    color: #000;
}

/* Títulos de cadastro */
h1.cadastro-clientes, h1.cadastro-produtos, h1.cadastro-fornecedores, 
h1.cadastro-agendamentos, h1.cadastro-profissionais, h1.cadastro, h1.login,
h1.cadastro-procedimentos {
    text-align: center;
    padding-top: 200px;
}

/* Badge de mensagem de erro */
.notification-is-danger {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: red;
    color: #FFFFFF;
    width: 20%;
    border-radius: 8px;
}

/* Badge de mensagem de aviso */
.notification-is-warning {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: orange;
    color: #FFFFFF;
    width: 20%;
    border-radius: 8px;
}

/* Badge de mensagem de sucesso */
.notification-is-success {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: var(--primary);
    color: #FFFFFF;
    width: 20%;
    border-radius: 8px;
}

/* Texto de boas-vindas da home */
h1.boas-vindas {
    padding-top: 40px;
    text-align: left;
    margin-left: 330px;
}

/* Itens do menu */
ul, li {
    margin-bottom: 15px;
    background-color: #FFFFFF;
    text-align: left;
}

/* Título do menu lateral */
p.titulo-cadastros-menu {
    padding-top: 20px;
    font-size: 16px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000;
}

/* Título "menu" */
h2.menu-title {
    padding-top: 25px;
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}

/* Borda do menu lateral */
.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    width: 16%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    position: fixed;
}

/* Links do submenu */
a.menu-agendamentos, a.menu-clientes, a.menu-profissionais, a.menu-fornecedores, a.menu-pagamentos, 
a.menu-procedimentos, a.menu-produtos, a.logout {
    font-size: 14px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000;
}

/* Efeito ao passar o mouse no submenu */
a.menu-agendamentos:hover, a.menu-clientes:hover, a.menu-profissionais:hover, a.menu-fornecedores:hover, 
a.menu-pagamentos:hover, a.menu-procedimentos:hover, a.menu-produtos:hover {
    background-color: #CEFDF1;
    transition: all 1s ease-out;
}

/* Links do menu */
a.menu-home, a.menu-agenda, a.logout {
    font-size: 16px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000;
}

/* Efeito ao passar o mouse no menu */
a.menu-home:hover, a.menu-agenda:hover {
    border-radius: 3px;
    background-color: #CEFDF1;
    transition: all 1s ease-out;
}

/* Links do submenu de listagem dos cadastros */
a.lista-agendamentos-cadastrados, a.lista-clientes-cadastrados, a.lista-profissionais-cadastrados, 
a.lista-fornecedores-cadastrados, a.lista-pagamentos-cadastrados, 
a.lista-procedimentos-cadastrados, a.lista-produtos-cadastrados, 
a.logout {
    font-size: 14px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000;
}

/* Efeito ao passar o mouse no submenu de listagem de cadastros */
a.lista-agendamentos-cadastrados:hover, a.lista-clientes-cadastrados:hover, a.lista-profissionais-cadastrados:hover, 
a.lista-fornecedores-cadastrados:hover, a.lista-pagamentos-cadastrados:hover, 
a.lista-procedimentos-cadastrados:hover, a.lista-produtos-cadastrados:hover {
    background-color: #CEFDF1;
    transition: all 1s ease-out;
}

/* Título listas */
h1.lista-de-clientes, h1.lista-de-profissionais, 
h1.lista-de-fornecedores, h1.lista-de-produtos, 
h1.lista-de-agendamentos, h1.lista-de-procedimentos {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Tabelas de registros */
table.registro-clientes, table.registro-profissionais, 
table.registro-fornecedores, table.registro-produtos,
table.registro-agendamentos, table.registro-procedimentos {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    border-spacing: 20px;
}

/* IDs dos registros */
th.id-column-agendamento-hidden, th.id-column-clientes-hidden, th.id-column-fornecedores-hidden, 
th.id-column-profissionais-hidden, th.id-column-procedimentos-hidden, td.column-cliente-show,
td.column-profissional-show {
    display: none;
}

button.botao-editar {
    width: 100%;
    background-color: white;
    color: #acacac;
    font-size: 14px;
    border: solid 1px #969696;
    border-radius: 8px;
    display: block;
}

button.botao-editar:hover {
    background-color: #969696;
    color: #FFF;
}

button.botao-cancelar {
    width: 100%;
    background-color: #FFF;
    color: red;
    font-size: 14px;
    border: solid 1px red;
    border-radius: 8px;
    display: block;
}

button.botao-cancelar:hover {
    background-color: red;
    color: #FFF;
}

/* Alinhamento ao centro de registros da tabela */
td {
    text-align: center;
}

/* Campo de pesquisa */
#pesquisa {
    width: 10%;
}

/* Botão de pesquisa */
#botao-buscar {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 6px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

/* Setas do campo number do formulário de cadastro de produtos */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}