/* Padrão */
:root {
    --primary: #00D47D;
    --secondary: #0ECE6B;
    --tertiary: #00856F;
    --quaternary: #8FAFA7;
}

/* Sempre que possível, utilizar o formato woff2 e woff para fontes */
@font-face {
    font-family: "Oranienbaum", serif;
    src: url(/fonts/Oranienbaum-Regular.ttf) format('ttf');
}

/* Global */
* {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}

h1.cadastro-clientes, h1.cadastro-produtos, h1.cadastro-fornecedores, 
h1.cadastro-agendamentos, h1.cadastro-profissionais, h1.cadastro, h1.login,
h1.cadastro-procedimentos {
    text-align: center;
    padding-top: 200px;
}

/* Formulário de cadastro */
form {
    text-align: center;
    display: block;
}

input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 5px 0;
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
}

/* Botão dos formulários */
button.botao {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    display: block;
}

/* Badge de mensagem de erro */
.notification-is-danger {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: red;
    color: #FFFFFF;
    width: 20%;
    border-radius: 8px;
}

ul, li, .menu-title {
    text-align: left;
}

/* Links do menu, cadastro e login */
a.link-login, a.link-cadastro, a.menu-clientes,
a.menu-profissionais, a.menu-pagamentos, a.menu-procedimentos, 
a.menu-produtos {
    text-decoration: none;
    color: #000;
}

a.menu-home, a.menu-agenda, a.menu-agendamento {
    text-decoration: none;
    color: #000;
}

h1.boas-vindas {
    display: block;
    text-align: center;
}

p.titulo-cadastros-menu {
    font-weight: bold;
}

.sidebar {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    width: 15%;
    height: 100%;
}

h2.menu-title {
    text-align: center;
    padding-bottom: 40px;
}