<!DOCTYPE html>
<html>
<head>
    <title>Consultas agendadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="lista-de-agendamentos">Lista de consultas</h1>
    <table class="registro-agendamentos">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Profissional</th>
            <th>Sessão</th>
            <th>Horário</th>
        </tr>
        {% for agendamento in agendamentos %}
        <tr>
            <td>{{ agendamento[0] }}</td> <!-- ID -->
            <td>{{ agendamento[1] }}</td> <!-- Nome do Cliente -->
            <td>{{ agendamento[2] }}</td> <!-- Nome do Profissional -->
            <td>{{ agendamento[3] }}</td> <!-- Sessão -->
            <td>{{ agendamento[4] }}</td> 
            <td>{{ agendamento[5] }}</td> <!-- Data e Hora -->
            <td>{{ agendamento[6] }}</td> <!-- Data e Hora -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>