{% include 'menu.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Consultas agendadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1 class="lista-de-agendamentos">Lista de consultas</h1>
    <table class="registro-agendamentos">
        <tr>
            <th>Cliente</th>
            <th>Profissional</th>
            <th>Sessão</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Ações</th>
        </tr>
        {% if resultados %}
        {% for resultado in resultados %}
        <tr>
            <td>{{ resultado.nomec }}</td>
            <td>{{ resultado.nomep }}</td>
            <td>{{ resultado.sessao }}</td>
            <td>{{ resultado.data }}</td>
            <td>{{ resultado.horario }}</td>
        </tr>
        {% endfor %}
        {% else %}
        {% for agendamento in agendamentos %}
        <tr>
            <td>{{ agendamento[1] }}</td> <!-- Nome do Cliente -->
            <td>{{ agendamento[2] }}</td> <!-- Nome do Profissional -->
            <td>{{ agendamento[3] }}</td> <!-- Sessão -->
            <td>{{ agendamento[4] }}</td> <!-- Data -->
            <td>{{ agendamento[5] }}</td> <!-- Hora -->
            <td>
                <a href="{{ url_for('atualizar_agendamento', id=agendamento[0]) }}">
                    <button class="botao-editar">Editar</button></a>
            </td>
            <td>
                <a href="{{ url_for('reagendar_consulta', id=agendamento[0]) }}">
                    <button class="botao-reagendar">Reagendar</button></a>
            </td>
            <td>
                <a href="{{ url_for('cancelar_agendamento', id=agendamento[0]) }}">
                    <button class="botao-cancelar">Cancelar</button></a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>
</html>