{% include 'menu.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Atualização de profissionais</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <form class="atualizacao-dados" action="{{ url_for('atualizarProfissional', id=profissional[0]) }}" method="POST">
        <input type="text" id="nome" name="nome" value="{{ profissional[1] }}"/> <br>
        <input type="text" id="telefone" name="telefone" value="{{ profissional[2] }}"/> <br>
        <input type="text" id="especialidade" name="especialidade" value="{{ profissional[3] }}"/>
        <button type="submit" value="enviar">Atualizar dados</button>
    </form>   
</html>