{% include 'menu.html' %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Atualização de fornecedores</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <form class="atualizacao-dados" action="{{ url_for('atualizarFornecedor', id=fornecedor[0]) }}" method="POST">
        <input type="text" id="nome" name="nome" value="{{ fornecedor[1] }}"/> <br>
        <input type="text" id="telefone" name="telefone" value="{{ fornecedor[2] }}"/> <br>
        <input type="text" id="empresa" name="empresa" value="{{ fornecedor[3] }}"/> <br>
        <button type="submit" value="enviar">Atualizar dados</button>
    </form>   
</html>