{% include 'menu.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Atualização de clientes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <form class="atualizacao-dados" action="{{ url_for('atualizarCliente', id=cliente[0]) }}" method="POST">
            <input type="text" id="nome" name="nome" value="{{ cliente[1] }}"/> <br>
            <input type="text" id="telefone" name="telefone" value="{{ cliente[2] }}"/> <br>
            <input type="text" id="email" name="email" value="{{ cliente[3] }}"/> <br>
            <input type="text" id="cpf" name="cpf" value="{{ cliente[4] }}"/>
            <button type="submit" value="enviar">Atualizar dados</button>
        </form>   
    </body>
</html>