{% include 'menu.html' %}
<!DOCTYPE html>
    <head>
        <title>Cadastro de clientes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1 class="cadastro-clientes">Cadastrar cliente</h1>
        <form class="formulario-cad" action="{{ url_for('adicionarCliente')}}" method="POST">
            <input type="text" id="nome" name="nome" placeholder="Nome do cliente"/> <br>
            <input type="text" id="telefone" name="telefone" placeholder="Telefone"/> <br>
            <input type="text" id="email" name="email" placeholder="E-mail"/> <br>
            <input type="text" id="cpf" name="cpf" placeholder="CPF"/>
            <button type="submit" value="enviar" class="botao">Adicionar cliente</button>
    </form>   
    </body>
</html>