{% include 'menu.html' %}
<!DOCTYPE html>
<head>
    <title>Cadastro de fornecedores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="cadastro-fornecedores">Cadastrar fornecedor</h1>
    <form action="/cadastrarFornecedor" method="POST">
        <input type="text" id="nome" name="nome" placeholder="Nome do fornecedor"/> <br>
        <input type="text" id="telefone" name="telefone" placeholder="Telefone"/> <br>
        <input type="text" id="empresa" name="empresa" placeholder="Empresa"/> <br>
        <button type="submit" value="enviar" class="botao">Adicionar fornecedor</button>
    </form>   
</body>
</html>