<!DOCTYPE html>
<head>
    <title>Novo agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="cadastro-agendamentos">Agendar consulta</h1>
    <form action="/realizarAgendamento" method="POST">
        <input type="text" id="nomec" name="nomec" placeholder="Nome do cliente"/> <br>
        <input type="text" id="nomep" name="nomep" placeholder="Nome do profissional"/> <br>
        <input type="number" id="sessao" name="sessao" placeholder="Sessão"/> <br>
        <input type="time" id="horario" name="horario" placeholder="Horário"/> <br>
        <button type="submit" value="enviar" class="botao">Agendar</button>
    </form>   
</body>
</html>