{% include 'menu.html' %}
<!DOCTYPE html>
<head>
    <title>Cadastro de procedimentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="cadastro-procedimentos">Cadastrar procedimento</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification notification-is-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
    <form action="{{ url_for('adicionar_procedimento')}}" method="POST">
        <input type="text" id="procedimento" name="procedimento" placeholder="Nome do procedimento"/> <br>
        <input type="text" id="descricao" name="descricao" placeholder="Descrição"/> <br>
        <button type="submit" value="enviar" class="botao">Adicionar procedimento</button>
    </form>   
</body>
</html>
