{% include 'menu.html' %}
<!DOCTYPE html>
<head>
    <title>Novo agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="cadastro-agendamentos">Agendar consulta</h1>
    <form action="{{ url_for('realizar_agendamento')}}" method="POST">
        <input type="text" id="nomec" name="nomec" placeholder="Nome do cliente"/> <br>
        <input type="text" id="nomep" name="nomep" placeholder="Nome do profissional"/> <br>        
        <input type="number" id="sessao" name="sessao" placeholder="Sessão"/> <br>
        <input type="date" id="data" name="data" placeholder="Data"/> <br>
        <input type="time" id="horario" name="horario" placeholder="Horário"/> <br>
        
        <button type="submit" value="enviar" class="botao">Agendar</button>
    </form>   
</body>
</html>