<!DOCTYPE html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1 class="cadastro">Cadastrar-se</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification-is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form action="/registro" method="POST">
            <input type="text" id="nome" name="nome" placeholder="Nome"/> <br>
            <input type="text" id="telefone" name="telefone" placeholder="Telefone"/> <br>
            <input type="text" id="email" name="email" placeholder="E-mail"/> <br>
            <input type="password" id="senha" name="senha" placeholder="Senha"/> <br>
            <button type="submit" value="enviar" class="botao">Cadastrar-se</button>
            <span>Já possui uma conta? <a class="link-login" href="{{ url_for('login') }}">Faça login</a></span>
        </form>   
    </body>
</html>