<!DOCTYPE html>
    <form action="/cadastrarProfissional" method="POST">
        <label for="nome">Nome do profissional</label>
        <input type="text" id="nome" name="nome"/> <br>
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" name="telefone"/> <br>
        <label for="especialidade">Especialidade</label>
        <input type="text" id="especialidade" name="especialidade"/> <br>
        <button type="submit" value="enviar">Adicionar profissional</button>
    </form>   
</html>