<!DOCTYPE html>
<head>
    <title>Agendar consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="cadastro-agendamento">Agendar consulta</h1>
    <form action="/realizarAgendamento" method="POST">
        <label for="nome">Nome do cliente</label>
        <input type="text" id="nomec" name="nomec"/> <br>
        <label for="nomep">Nome do profissional</label>
        <input type="text" id="nomep" name="nomep"/> <br>
        <label for="Sessão">Sessão</label>
        <input type="number" id="sessao" name="sessao"/> <br>
        <label for="horario">Horário</label>
        <input type="time" id="horario" name="horario"/> <br>
        <button type="submit" value="enviar" class="botao">Agendar</button>
    </form>   
</body>
</html>