{% include 'menu.html' %}
<!DOCTYPE html>
    <html>
    <head>
        <title>Fornecedores cadastrados</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <form action="{{ url_for('pesquisar_fornecedores')}}" method="POST">
            <label for="pesquisa">Pesquisar pelo telefone: </label>
            <input type="text" id="pesquisa" name="pesquisa" class="pesquisa-input-telefone" required>
            <button id="botao-buscar" type="submit">Pesquisar</button>
        </form>
        <h1 class="lista-de-fornecedores">Lista de fornecedores</h1>
        <table class="registro-fornecedores">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Empresa</th>
                <th>Ações</th>
            </tr>
            {% if resultados %}
            {% for resultado in resultados %}
            <tr>
                <td>{{ resultado.nome }}</td>
                <td>{{ resultado.telefone }}</td>
                <td>{{ resultado.empresa }}</td>
            </tr>
            {% endfor %}
            {% else %}
            {% for fornecedor in fornecedores %}
            <tr>
                <th>{{ fornecedor[1] }}</th>
                <th>{{ fornecedor[2] }}</th>
                <th>{{ fornecedor[3] }}</th>
                <td>
                    <a href="{{ url_for('atualizarFornecedor', id=fornecedor[0]) }}">
                        <button class="botao-editar">Editar</button></a>
                </td>
                <td>
                    <a href="{{ url_for('deletar_fornecedor', id=fornecedor[0]) }}">
                        <button class="botao-cancelar">Apagar</button></a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </body>
</html>