<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<div class="sidebar">
    <h2 class="menu-title">MENU</h2>
    <ul style="list-style: none;" class="menu">
        <li class="menu-item">
            <a href="../home" class="menu-home">Home</a>
        </li>
        <li class="menu-item">
            <a href="/calendario" class="menu-agenda">Agenda</a>
        </li>     
        <li class="menu-item">
            <p class="titulo-cadastros-menu">Cadastros</p>
            <ul style="list-style: none;" class="submenu">
                <li><a href="/realizarAgendamento" class="menu-agendamentos">Agendamento</a></li>
                <li><a href="/cadastrarCliente" class="menu-clientes">Cliente</a></li>
                <li><a href="/cadastrarProfissional" class="menu-profissionais">Profissional</a></li>
                <li><a href="/cadastrarFornecedor" class="menu-fornecedores">Fornecedor</a></li>
                <li><a href="#" class="menu-pagamentos">Pagamento</a></li>
                <li><a href="/cadastrarProduto" class="menu-produtos">Produto</a></li>
                <li><a href="/cadastrarProcedimento" class="menu-procedimentos">Procedimento</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <p class="titulo-cadastros-menu">Listas</p>
            <ul style="list-style: none;" class="submenu">
                <li><a href="/agendamentos" class="lista-agendamentos-cadastrados">Consultas marcadas</a></li>
                <li><a href="/clientes" class="lista-clientes-cadastrados">Clientes cadastrados</a></li>
                <li><a href="/profissionais" class="lista-profissionais-cadastrados">Profissionais cadastrados</a></li>
                <li><a href="/fornecedores" class="lista-fornecedores-cadastrados">Fornecedores cadastrados</a></li>
                <li><a href="#" class="lista-pagamentos-cadastrados">Pagamentos cadastrados</a></li>
                <li><a href="/produtos" class="lista-produtos-cadastrados">Produtos cadastrados</a></li>
                <li><a href="/procedimentos" class="lista-procedimentos-cadastrados">Procedimentos cadastrados</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <li><a href="/logout" class="logout">Logout</a></li>
        </li>
    </ul>
</div>

