<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<div class="sidebar">
    <h2 class="menu-title">MENU</h2>
    <ul style="list-style: none;" class="menu">
        <li class="menu-item">
            <a href="../home" class="menu-home">Home</a>
        </li>
        <li class="menu-item">
            <a href="/calendario" class="menu-agenda">Agenda</a>
        </li>
        <li class="menu-item">
            <a href="/realizarAgendamento" class="menu-agendamento">Agendamentos</a>
        </li>
        <li class="menu-item">
            <p class="titulo-cadastros-menu">Cadastros</p>
            <ul style="list-style: none;" class="submenu">
                <li><a href="/cadastrarCliente" class="menu-clientes">Cliente</a></li>
                <li><a href="/cadastrarProfissional" class="menu-profissionais">Profissional</a></li>
                <li><a href="#" class="menu-pagamentos">Pagamento</a></li>
                <li><a href="/cadastrarProduto" class="menu-produtos">Produto</a></li>
                <li><a href="/cadastrarProcedimento" class="menu-procedimentos">Procedimento</a></li>
            </ul>
        </li>
    </ul>
</div>

