{% include 'menu.html' %}
<!DOCTYPE html>
    <html>
    <head>
        <title>Procedimentos cadastrados</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <form action="{{ url_for('pesquisar_procedimentos')}}" method="POST">
            <label for="pesquisa">Pesquisar pelo procedimento: </label>
            <input type="text" id="pesquisa" name="pesquisa" class="pesquisa-input-nome" required>
            <button id="botao-buscar" type="submit">Pesquisar</button>
        </form>
        <h1 class="lista-de-procedimentos">Lista de procedimentos</h1>
        <table class="registro-procedimentos">
            <tr>
                <th>Procedimento</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
            {% if resultados %}
            {% for resultado in resultados %}
            <tr>
                <td>{{ resultado.nome }}</td>
                <td>{{ resultado.descricao }}</td>
            </tr>
            {% endfor %}
            {% else %}
            {% for procedimento in procedimentos %}
            <tr>
                <td>{{ procedimento[1] }}</td>
                <td>{{ procedimento[2] }}</td>
                <td>
                    <a href="{{ url_for('atualizar_procedimento', id=procedimento[0]) }}">
                        <button class="botao-editar">Editar</button></a>
                </td>
                <td>
                    <a href="{{ url_for('deletar_procedimento', id=procedimento[0]) }}">
                        <button class="botao-cancelar">Apagar</button></a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </body>
</html>