<!DOCTYPE html>
    <title>Procedimentos cadastrados</title>
    <body>
        <h1>Lista de procedimentos</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
            {% for procedimento in procedimentos %}
            <tr>
                <th>{{ procedimento[0] }}</th>
                <th>{{ procedimento[1] }}</th>
                <th>{{ procedimento[2] }}</th>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>