{% include 'menu.html' %}
<!DOCTYPE html>
    <html>
    <head>
        <title>Produtos cadastrados</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <form action="{{ url_for('pesquisar_produtos')}}" method="POST">
            <label for="pesquisa">Pesquisar pelo SKU: </label>
            <input type="text" id="pesquisa" name="pesquisa" class="pesquisa-input-nome" required>
            <button id="botao-buscar" type="submit">Pesquisar</button>
        </form>
        <h1 class="lista-de-produtos">Lista de produtos</h1>
        <table class="registro-produtos">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de validade</th>
                <th>Quantidade</th>
                <th>Marca</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>SKU</th>
                <th>Ações</th>
            </tr>
            {% if resultados %}
            {% for resultado in resultados %}
            <tr>
                <td>{{ resultado.id }}</td>
                <td>{{ resultado.nome }}</td>
                <td>{{ resultado.data_validade }}</td>
                <td>{{ resultado.quantidade }}</td>
                <td>{{ resultado.marca }}</td>
                <td>{{ resultado.preco }}</td>
                <td>{{ resultado.descricao }}</td>
                <td>{{ resultado.sku }}</td>
            </tr>
            {% endfor %}
            {% else %}
            {% for produto in produtos %}
            <tr>
                <th>{{ produto[0] }}</th>
                <th>{{ produto[1] }}</th>
                <th>{{ produto[2] }}</th>
                <th>{{ produto[3] }}</th>
                <th>{{ produto[4] }}</th>
                <th>{{ produto[5] }}</th>
                <th>{{ produto[6] }}</th>
                <th>{{ produto[7] }}</th>
                <td>
                    <a href="{{ url_for('atualizarProduto', id=produto[0]) }}">Editar</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </body>
</html>