<!DOCTYPE html>
    <title>Profissionais cadastrados</title>
    <body>
        <h1>Lista de profissionais</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Especialidade</th>
            </tr>
            {% for profissional in profissionais %}
            <tr>
                <th>{{ profissional[0] }}</th>
                <th>{{ profissional[1] }}</th>
                <th>{{ profissional[2] }}</th>
                <th>{{ profissional[3] }}</th>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>